/* CSS */
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 123, 0);
    border-bottom: 4px solid black;
}

header, h1 {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 3px rgb(0, 0, 0);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

main {
    min-height: 63.5vh;
}

footer {
    background-color: rgb(255, 123, 0);
    text-align: center;
    border-top: 4px solid black;
    position: relative;
    bottom: 0;
}

footer>p {
    margin-bottom: 0;
}


.btn:hover {
    background-color: rgb(255, 123, 0);
    border: 3px solid black;
}

/* MEDIA QUERIES */

@media screen and (max-width: 360px) {
    header {
        display: block;
    }

    header>h1 {
        font-size: 50px;
    }

    .container {
        display: block;
    }

    .btn {
        margin-top: 5px;
    }
}

@media screen and (max-width: 576px) {
    header {
        display: block;
    }

    header>h1 {
        font-size: 50px;
    }

    .container {
        display: block;
    }

    .btn {
        margin-top: 5px;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: block;
    }

    header>h1 {
        font-size: 50px;
    }

    .container {
        display: block;
    }

    .btn {
        margin-top: 5px;
    }
}